---
layout: archive
title: "People"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

{% comment %}
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}


{% comment %}
<div class="member-grid">
{% for post in site.portfolio %}
   {% include archive-single-member.html %}
{% endfor %}
</div>
+{% endcomment %}


{% comment %}
  先定义好要分的组（顺序即显示顺序）
{% endcomment %}
{% assign groups = "QiyangLiu|Postdoc|PhD|Postgraduate Student" |"Research Assistant"| split: "|" %}

{% for g in groups %}
  {%- assign members = site.portfolio | where: "group", g -%}
  {% if members and members.size > 0 %}
    <h2 class="member-heading">
      {{ g }}
      {% if g == "QiyangLiu"                 %}| 刘启旸{% endif %}
      {% if g == "Postdoc"                 %}| 博士后{% endif %}
      {% if g == "PhD"                 %}| 博士研究生{% endif %}
      {% if g == "Postgraduate Student"%}| 硕士研究生{% endif %}
      {% if g == "Research Assistant" %}| 科研助理{% endif %}
    </h2>

    <div class="member-grid">
      {% for post in members %}
        {% include archive-single-member.html post=post %}
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}