{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
<script>
(function() {
  var isEn = window.location.pathname.indexOf('/en/') !== -1;

  // Switch nav language toggle
  var links = document.querySelectorAll('.greedy-nav a');
  for (var i = 0; i < links.length; i++) {
    if (links[i].href.indexOf('/en/') !== -1 && links[i].textContent.indexOf('EN') !== -1) {
      if (isEn) {
        links[i].href = '/';
        links[i].textContent = '🌐 中文';
      } else {
        links[i].textContent = '🌐 English';
      }
      break;
    }
  }

  // Switch sidebar author profile for English pages
  if (isEn) {
    var nameEl = document.querySelector('.author__name');
    if (nameEl) nameEl.textContent = 'Qiyang Liu';

    var bioEl = document.querySelector('.author__bio');
    if (bioEl) bioEl.textContent = 'Assistant Professor, Peking University';

    var locEl = document.querySelector('.author__desktop');
    if (locEl) locEl.innerHTML = '<i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>Shenzhen';

    var desktopItems = document.querySelectorAll('.author__desktop');
    if (desktopItems.length > 1) {
      desktopItems[1].innerHTML = '<i class="fa fa-solid fa-building-columns icon-pad-right" aria-hidden="true"></i>Peking University';
    }
  }
})();
</script>