{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
<script>
(function() {
  var links = document.querySelectorAll('.greedy-nav a');
  for (var i = 0; i < links.length; i++) {
    if (links[i].href.indexOf('/en/') !== -1 && links[i].textContent.indexOf('EN') !== -1) {
      if (window.location.pathname.indexOf('/en/') !== -1) {
        links[i].href = '/';
        links[i].textContent = '🌐 中文';
      } else {
        links[i].textContent = '🌐 English';
      }
      break;
    }
  }
})();
</script>